:root {
  /* Definiamo i colori base che useremo in tutta la pagina */
  --colore-primario: #be832a;
  --colore-sfondo: #fff5f7;   
  --colore-testo: #141313;    
  --colore-card: #ffffff;     
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--colore-sfondo);
  color: var(--colore-testo);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  color: var(--colore-primario);
  text-align: center;
}

header {
  background-color: var(--colore-card);
  padding: 20px;
  /* Un'ombra per separare l'header dal resto */
  box-shadow: 0 2px 5px rgba(0,0,0,0.10); 
}
/* QUesta parte rimuove i pallini della lista*/
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  /* Mette gli elementi della lista sulla stessa riga */
  display: inline-block; 
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: var(--colore-testo);
  font-weight: bold;
}

nav a:hover {
  color: var(--colore-primario);
}

main {
  
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  width: 100%;
  flex-grow: 1;
}

.card-promo {
  background-color: var(--colore-card);
  border: 2px dashed var(--colore-primario);
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  margin-top: 15%;
  
  /* Animazione fluida per hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto :hover: Quando il mouse passa sopra, la card si alza e fa ombra */
.card-promo:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 133, 162, 0.2);
}

/* Pseudo-elemento ::before: Inserisce contenuto PRIMA del testo della card */
.card-promo::before {
  content: '! Novità !';
  display: block;
  font-weight: bold;
  color: var(--colore-primario);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* VISIBILITY: HIDDEN L'elemento diventa invisibile, mA continua ad occupare il suo spazio 
fisico nella pagina. */
.segreto-visibilita {
  visibility: hidden; 
}

/* DISPLAY: NONE L'elemento scompare completamente. */
.esaurito-display {
  display: none; 
}

/* FOOTER */
footer {
  background-color: var(--colore-card);
  box-shadow: 0 -2px 5px rgba(0,0,0,0.10); 
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  font-size: 0.9rem;
  color: #1f1e1e;

}