body {
    font-family: Arial, sans-serif;
    background-color: #4c4c50;
    color: #af1818;
}

h1 {
    font-size: 2.5rem; 
    text-align: center;
}

/* Regola generale per i paragrafi */
p {
    line-height: 1.6;
    color: #683232;
}

/* Selettore per ID (identificato dal simbolo #) */
#area-principale {
    width: 70%;
    margin: 50px auto; 
}

/* Selettore per Classe (identificato dal punto .) */
.scheda {
    background-color: #ffffff;
    padding: 80px;
    border: 2px solid #f7f5f5;
    border: 0.5em; 
}

.testo-dinamico {
    color: #0056b3; 
    font-weight: bold;
    border: 0.5em; 
}

.testo-dinamico {
    color: #28a745; 
}

/* Stile di base per il pulsante */
.pulsante {
    display: inline-block;
    background-color: #0677ef;
    color: #faf9f9;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease; 
}

/* Pseudo-classe questa regola si applica unicamente quando l'utente posiziona il puntatore del mouse sopra l'elemento '.pulsante'. */
.pulsante:hover {
    background-color: #004085; /* Il colore si scurisce al passaggio del mouse */
}
