/*Il contenitore ha position: relative, quindi diventa il riferimento per gli elementi figli posizionati in modo assoluto*/
.contenitore {

  position: relative;

  width: 300px;

  height: 200px;

  background-color: lightgray;

}

/*L’elemento .box con position: absolute viene rimosso dal flusso normale e posizionato a 20px
dall’alto e 30px da sinistra rispetto al contenitore, non rispetto alla pagina intera.*/

.box {

  position: absolute;

  top: 50px;

  left: 50px;

  width: 100px;

  height: 50px;

  background-color: coral;

}


.container {
/* Attiva il layout a griglia (CSS Grid) */
  display: grid;
/* Crea tre colonne di larghezza identica (1 frazione di spazio ciascuna) */
  grid-template-columns: 1fr 1fr 1fr;
/* Inserisce uno spazio vuoto di 10 pixel tra gli elementi della griglia */
  gap: 10px;

}

/* Primo elemento: riquadro rosso */
.item1 {

  background-color: rgb(241, 8, 8);

  color: white;

  padding: 20px;

  text-align: center;
  
  border: 1cqb solid black;

}

.container_Flex {

/* Utilizzo del modello Flexbox per centrare perfettamente il contenuto (ad esempio, il testo) sia sull'asse verticale che orizzontale */
  display: flex;

  justify-content: space-between;

  align-items: center;

  height: 200px;

  background-color: lightgray;

  border: 5px solid black;

}


.item4 {

  width: 50px;

  height: 50px;

  background-color: steelblue;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  border: 5px solid black;

}

/*usare i border nei div */

/**/
.container_Griglia {
/* Inizializza il layout a griglia (CSS Grid) per questo contenitore */
  display: grid;

  grid-template-columns: 100px 100px 100px;

  grid-template-rows: 100px 100px;

  gap: 10px;

  background-color: #ff9800;

  padding: 10px;

}


.item5 {

  grid-column: 1 / 3;

  grid-row: 1;

}


.item6 {

  grid-column: 3;

  grid-row: 1 / 3;

}
/*elementi gliglia ad aria */
.container_Aria {

  display: grid;

  grid-template-areas:

/*l’header occupa tutta la prima
riga*/
    "header header"

/*sidebar e content condividono la
seconda*/
    "sidebar content"

/*il footer occupa tutta la terza*/
    "footer footer";

  grid-template-columns: 1fr 2fr;

  gap: 10px;

}


.header { grid-area: header; }

.sidebar { grid-area: sidebar; }

.content { grid-area: content; }

.footer { grid-area: footer; }
