/* Stile per tutti i paragrafi */
p {
    color: blue;
    font-size: 18px;
}

/* Stile per i titoli h1 */
h1 {
    font-size: 32px;
}

/* Stile per i contenitori div */
div {
    background-color: lightgray;
}

/* Classe per evidenziare elementi specifici */
.evidenziato {
    background-color: yellow;
}

/* ID per un elemento unico (corretto in 24px) */
#TitoloImportante {
    font-size: 24px;
}

/* Selettore discendente: colora di verde solo i p dentro un div */
div p {
    color: green;
}

a:hover {
    color:red;
}